.client {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
  &__icons {
    fill: currentColor;
  }
  &__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
  }
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  color: $primary-gray-color;
  border: 1px solid $primary-gray-color;
  border-radius: 4px;

  transition: color $duration-function, border $duration-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}
